@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  background-color: #eaded7;
  min-height: 100%;
  padding-bottom: 7rem;
  padding-top: 5rem;
  box-sizing: inherit;
}
.navbar {
  background-color: #f1f5f8 !important;
}
.navbar-title {
  color: #936a53 !important;
  font-style: italic;
}
.footer {
  background-color: #222222 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.btn {
  background: #b99179 !important;
  color: #f1f5f8 !important;
}
.card-text {
  color: #324d67;
}
.category-text {
  color: #48647f;
}
.title-text {
  color: #102a42;
}
